{% extends "base.html" %}

{% block main %}
  <h1>Articles <span>{{ articles | length }}</span></h1>

  <ul>
    {% for article in articles %}
    <li>
      {% for h in article.Hierarchy %}
        {% set l = article.Hierarchy | length %}
        {% if h.Name != "ROOT" and l > 2 and l != forloop.Counter %}
          <a href="/{{ h.URI }}" title="{{ h.Name }}">{{ h.Name }}</a> &rarr;
        {% endif %}
      {% endfor %}
      <a href="{{ article.URI }}" title="{{ article.Title }}">{{ article.Title }}</a>
    </li>
    {% endfor %}
  </ul>
{% endblock main %}
