{% extends "base.html" %}

{% block title %}
  {{ title }}
{% endblock title %}

{% block main %}
  <nav>
    <ul>
      {% for node in hierarchy %}
      <li>
        <a data-entity-type="{{ node.Type }}" href="{%- if node.Name == "ROOT" -%}/ROOT{%- else -%}/{{ node.URI }}{%- endif -%}" title="{{ node.Name }}">
        {%- if node.Name == "ROOT" -%}Root{%- else -%}{{ node.Name}}{%- endif -%}
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>
  {{ html | safe }}
{% endblock main %}

{% block statistics %}
  There are {{ statistics.ArticleCount }} articles in this wiki. It took {{ statistics.GenerationTime }} to generate it on a {{ statistics.Platform }}/{{ statistics.Architecture }} system with {{ statistics.MemoryInGB }}GiB RAM and {{ statistics.CPUCount }} cores.
{% endblock statistics %}
