{% extends "base.html" %}

{% block main %}
  {% include "hierarchy.html" %}
  <h1>{{ title }}</h1>
  {{ html | safe }}
{% endblock main %}

{% block statistics %}
  There are {{ statistics.ArticleCount }} articles in this wiki. On {{ statistics.BuildDate | date:"Monday, 2 Jan 2006 at 15:04 MST" }}, it took {{ statistics.GenerationTime }} to generate it on a {{ statistics.Platform }}/{{ statistics.Architecture }} system with {{ statistics.MemoryInGB }}GiB RAM and {{ statistics.CPUCount }} cores.
{% endblock statistics %}
