<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <noscript>
      👉 A few things won&#8217;t work if you have JavaScript disabled.
    </noscript>
    <div class="container">
      <header>
        <nav>
          <ul>
            <li><a href="/archive"{% if type == "archive" %}class="active"{% endif %}><span>Archive</span></a></li>
            <li><a href="/"{% if type == "home" %}class="active"{% endif %}><span>Home</span></a></li>
          </ul>
        </nav>
      </header>
      <main>
        <h1>{{ title }}</h1>
        {% block main %}{% endblock main %}
      </main>
      <footer>
        {% block footer %}{% endblock footer %}
        <ul>
          {% if sizeInBytes %}
          <li>{{ sizeInBytes }} bytes</li>
          {% endif %}
          {% if modified %}
          <li>Modified on {{ modified }}</li>
          {% endif %}
          <li>
            <a href="https://github.com/afreeorange/node-bock" title="Link to this project on Github">bock {{ version }}</a>
          </li>
        </ul>
      </footer>
    </div>
    {% block script %}{% endblock script %}
  </body>
</html>
